@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat:wght@600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  --bg-color-body: linear-gradient(315deg, #C2E9FB 0%, #A1C4FD 100%);
  --bg-color-white: #ffff;
  --bg-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
  --bg-button: #7879F1;
  --bg-button-hover: #6060e2;
  --bg-input: #DCE2E9;
  --color-text-strong:#34355B;
  --text-color-white: #ffff;
  --text-h1: Montserrat;
  --text-size:DM sans;
}
body {
  font-size: 1.6rem;
  background: var(--bg-color-body);
  display: grid;
  place-items: center;
  height: 100vh;
}
